body::-webkit-scrollbar {
    width: 12px;                
    background-color: black;
}

body::-webkit-scrollbar-track {
    background: black;           
}

body::-webkit-scrollbar-thumb {
    background-color: #6a0178;  
    border-radius: 20px;          
    border: 3px solid black;    
}






body{
  background-image: linear-gradient(to right, rgb(255, 235, 180) , rgb(212, 181, 253));
   font-family: "DM Sans", sans-serif;
     opacity: 0;
  animation: fadeIn 0.6s ease-in forwards;
} 


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


nav{
    background-color: #aaa8bd00 !important;
}





h1, h2{
    text-align: center;
}

section{
    margin: 8%;
    margin-top: 5%;
}


p{
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
}



.botao{
    background-color: #6a0178;
    color: white;
    width: 15%;
    padding: 1%;
    transition: background-color 0.3s ease-in-out;

}

.botaot{
    background-color: #2d7801;
    color: white;
    transition: transform 0.2s ease-in-out;
    
 
}
.botaol{
    background-color: #78011f;
    color: white;
    transition: transform 0.2s ease-in-out;

}

.botaot:hover{
    background-color: #1a4600;
    color: white;
    transform: scale(1.02);

 
}

.botaol:hover{
    background-color: #460011;
    color: white;
    transform: scale(1.02);


}

.botao:hover{
    background-color: #390041 ;
    color: white;
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);


}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

}

.botoes{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    width: 30%;
    height: 80px;
    padding-top: 2%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;


}

.botoes:hover{
    transform: scale(1.04);
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 0, 0.2);

}

.indexc{
    margin-top: 12%;
}

.form{
    margin: 3%;
    width: 50%;
    
}

input[type="text"]:focus, input[type="number"]:focus{
    border: 1px rgb(162, 0, 255);
    border-radius: 4px;
    box-shadow: 0px 2px 4px 4px rgba(162, 0, 255, 0.397);
}

  table, th, td {
    border: 1px solid rgb(162, 0, 255); 
  }

  td, th {
    background-color: #aaa8bd3d !important;
  }
 


label{
    font-size: 1.2rem;
    color: black;
}


.nav-link{
    color: black !important;
    border-bottom: 0.1rem solid transparent;
        transition: color 0.3s ease, border-bottom 0.3s ease;

}

.nav-link:hover{
    color: #390041 !important;
    border-bottom: 0.1rem solid #390041;


}

